<ion-header class="ion-text-center">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Accueil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-row class="ion-justify-content-center">
            <ion-img alt="logo du DevFest"
                     id="logoImg"
                     src="assets/gdg-logo.png"></ion-img>
        </ion-row>
        <ion-card-header class="ion-text-center">
            <ion-card-title>DevFest Nantes 2018</ion-card-title>
            <ion-card-subtitle class="ion-padding-top">
                {{dateDebutConf}} - {{dateFinConf}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <a routerLink="/sessions">
                <ion-button expand="block">Voir les sessions</ion-button>
            </a>
            <a routerLink="/speakers">
                <ion-button expand="block">Voir les présentateurs</ion-button>
            </a>
        </ion-card-content>
    </ion-card>
</ion-content>
